/*Nesting Example*/
div{
    
    ul{
        color:white;
    }

    ol{
        color:white;
    }
    p{

    }

}

/*Inheritance Example*/

%message{
    text-align: center;
        font: bold;
}

.right{
    @extend %message;
}
.text{
    @extend %message;
    margin-top: vh;
    font-family: 'Cardo';
   
    color:white;
    font-size: 15px;
}